extends layout

block content
 form(action="/login", method="post")
   input(type="text", name="username")
   input(type="password", name="password")
   input(type="submit", value="Login")

 form(action="auth/google_oauth2", method="get")
   input(type="submit", value="Login Using Oauth2(Google)")

 form(action="auth/google_api", method="get")
   input(type="submit", value="Login Using Google APIs")
